<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=windows-1250">
    <style type="text/css">
      #header{ font-size:20px;
          font-family: Tahoma,Arial;
	        color:#000000;
	        font-weight:bold;
      }

      body {color:#55759b;
         font-family: Tahoma,Arial;
      }
    </style>
  <title><3DCityDB>CITYOBJECT/GMLID</3DCityDB></title>
  </head>
  <body>
    <table width=492>
      <tr><td valign=bottom><span id="header">AreaClassification Attributes</span></td>
          <td align=right valign=bottom><img src="http://www.3dcitydb.net/3dcitydb/fileadmin/3dcitydb/demodata/Logos/3dcitydb_logo.png"></td>
      </tr>
    </table>
    <hr style="color:#000000;">
    <table width=500>
      <tr><td>class: <b><3DCityDB>UR_URBANFUNCTION/CLASS</3DCityDB></b>,</td></tr>
      <tr><td>enactmentDate: <b><3DCityDB>UR_URBANFUNCTION/ENACTMENTDATE</3DCityDB></b>,</td></tr>
      <tr><td>prefecture: <b><3DCityDB>UR_URBANFUNCTION/PREFECTURE</3DCityDB></b>,</td></tr>
      <tr><td>city: <b><3DCityDB>UR_URBANFUNCTION/CITY</3DCityDB></b>.</tr></td>
      <tr><td>note: <b><3DCityDB>UR_URBANFUNCTION/NOTE</3DCityDB></b></tr></td>
	</table>
  </body>
</html>
