<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=windows-1250">
    <style type="text/css">
      #header{ font-size:20px;
          font-family: Tahoma,Arial;
	        color:#000000;
	        font-weight:bold;
      }

      body {color:#55759b;
         font-family: Tahoma,Arial;
      }
    </style>
  <title><3DCityDB>CITYOBJECT/GMLID</3DCityDB></title>
  </head>
  <body>
    <table width=492>
      <tr><td valign=bottom><span id="header">Building Attributes</span></td>
          <td align=right valign=bottom><img src="http://www.3dcitydb.net/3dcitydb/fileadmin/3dcitydb/demodata/Logos/3dcitydb_logo.png"></td>
      </tr>
    </table>
    <hr style="color:#000000;">
    <table width=500>
      <tr><td>class: <b><3DCityDB>BUILDING/CLASS</3DCityDB></b>,</td></tr>
      <tr><td>function: <b><3DCityDB>BUILDING/FUNCTION</3DCityDB></b>.</tr></td>
      <tr><td>usage: <b><3DCityDB>BUILDING/USAGE</3DCityDB></b></tr></td>
      <tr><td>yearOfConstruction: <b><3DCityDB>BUILDING/YEAR_OF_CONSTRUCTION</3DCityDB></b></tr></td>
      <tr><td>storeysAboveGround: <b><3DCityDB>BUILDING/STOREYS_ABOVE_GROUND</3DCityDB></b>.</tr></td>
      <tr><td>storeysBelowGround: <b><3DCityDB>BUILDING/STOREYS_BELOW_GROUND</3DCityDB></b>.</tr></td>
      <tr><td>serialNumberOfBuildingCertification: <b><3DCityDB>UR_BUILDINGDETAILS/SERIALNUMBEROFBUILDINGCERTIF</3DCityDB></b>.</tr></td>
      <tr><td>siteArea: <b><3DCityDB>UR_BUILDINGDETAILS/SITEAREA</3DCityDB></b>.</tr></td>
	  <tr><td>buildingFootprintArea: <b><3DCityDB>UR_BUILDINGDETAILS/BUILDINGFOOTPRINTAREA</3DCityDB></b>.</tr></td>
	  <tr><td>buildingRoofEdgeArea: <b><3DCityDB>UR_BUILDINGDETAILS/BUILDINGROOFEDGEAREA</3DCityDB></b>.</tr></td>
	  <tr><td>developmentArea: <b><3DCityDB>UR_BUILDINGDETAILS/DEVELOPMENTAREA</3DCityDB></b>.</tr></td>
	  <tr><td>buildingStructureType: <b><3DCityDB>UR_BUILDINGDETAILS/BUILDINGSTRUCTURETYPE</3DCityDB></b>.</tr></td>
	  <tr><td>fireproofStructureType: <b><3DCityDB>UR_BUILDINGDETAILS/FIREPROOFSTRUCTURETYPE</3DCityDB></b>.</tr></td>
	  <tr><td>implementingBody: <b><3DCityDB>UR_BUILDINGDETAILS/IMPLEMENTINGBODY</3DCityDB></b>.</tr></td>
	  <tr><td>urbanPlanType: <b><3DCityDB>UR_BUILDINGDETAILS/URBANPLANTYPE</3DCityDB></b>.</tr></td>
	  <tr><td>districtsAndZonesType: <b><3DCityDB>UR_BUILDINGDETAILS/DISTRICTSANDZONESTYPE</3DCityDB></b>.</tr></td>
	  <tr><td>landUsePlanType: <b><3DCityDB>UR_BUILDINGDETAILS/LANDUSEPLANTYPE</3DCityDB></b>.</tr></td>
	  <tr><td>areaClassificationType: <b><3DCityDB>UR_BUILDINGDETAILS/AREACLASSIFICATIONTYPE</3DCityDB></b>.</tr></td>
	  <tr><td>prefecture: <b><3DCityDB>UR_BUILDINGDETAILS/PREFECTURE</3DCityDB></b>.</tr></td>
	  <tr><td>city: <b><3DCityDB>UR_BUILDINGDETAILS/CITY</3DCityDB></b>.</tr></td>
	  <tr><td>reference: <b><3DCityDB>UR_BUILDINGDETAILS/REFERENCE</3DCityDB></b>.</tr></td>
	  <tr><td>note: <b><3DCityDB>UR_BUILDINGDETAILS/NOTE</3DCityDB></b>.</tr></td>
	  <tr><td>surveyYear: <b><3DCityDB>UR_BUILDINGDETAILS/SURVEYYEAR</3DCityDB></b>.</tr></td>
	</table>
  </body>
</html>
